.nav-wrapper {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 7rem;
    background-color: rgba(0, 0, 0, 0.7);
    margin-left: 1rem;
    margin-top: 1rem;
    border-radius: 0.3rem;
}
